@model Model.User

@{
    ViewBag.Title = "Dashboard";
}

    <h2>Dashboard</h2>


    <table border="1">
    <tr>
    <th>Join Project</th>
    <th>Volunteer Map</th>
    <th>Current Projects</th>
    </tr>
    <tr>

    <td>
        @Html.DisplayNameFor(m => m.Username)
    </td>
    <td>
        

    </td>

    </tr>


    </table> 
