@model Model.Admin

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Association == null)
{ 
    <table border="1">
    <tr>
    <th>
        Are you joining an already existing organization or do you wish to create a new organization?
    </th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Join Organization", "Index", "Home")
        </td>
        <td>
            @Html.ActionLink("Create Organization", "Create", "Organization")
        </td>
    </tr>
</table>
}

<h2>Hi @Model.Name</h2>

You have the following options:

@Html.ActionLink("Your Organization", "Index", "Organization")