@model Model.Admin

@{
    
    ViewBag.Title = "Index";
}

<h2>Administration:</h2>

@if(ViewBag.Authenticated == true)
{
    <table border="1">
    <tr>
    <th>
        Are you joining an already existing organization or do you wish to create a new organization?
    </th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Join Organization", "Organizations", "Admin")
        </td>
        <td>
            @Html.ActionLink("Create Organization", "Create", "Admin")
        </td>
    </tr>
</table>
}


@if(ViewBag.Authenticated == false)
{
<h2>Hi </h2>

<p>You have the following options:</p>

@Html.ActionLink("Go to your organization", "Index", "Organization")
}
