@{
    ViewBag.Title = "JoinOrganization";
}

<h2>JoinOrganization</h2>

You've just joined a new organization.

Go to your new organization now.

@Html.ActionLink("Organization", "Index", "Organization")