@model Model.Organization

@{
    ViewBag.Title = "JoinOrganization";
}


<table>
    <tr>
        <td>
            <h2>Almost done!</h2>

            You're about to join @Html.DisplayFor(model => model.Name)

            You have the two following options:
        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm()) {
                <button type="submit" >Join</button>
                <button onclick="location.href='@Url.Action("Index")';return false;">Cancel</button>
            }
        </td>
    </tr>
</table>


