@model IEnumerable<Model.Volunteer>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>listing</h2>
</hgroup>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("details", "volunteer", new { id = item.ID })
            </td>
        </tr>
    }
</table>