@model Model.VolunteerProject

@{
    ViewBag.Title = "Delete";
}

<h2>Cancel this Project</h2>

<p>Are you sure you wish to cancel project: @Model.Title ?</p>
<table>
    <tr>
        <td>
            @Html.ActionLink("Yes", "Index", new { id = Model.Id })
            @Html.ActionLink("Cancel", "Index")
        </td>
        <td>

        </td>
    </tr>
</table>