@{
    ViewBag.Title = "Choose";
}

<table border="1">
    <tr>
    <th>
        Are you joining an already existing organization or do you wish to create a new organization?
    </th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Join Organization", "Index", "Home")
        </td>
        <td>
            @Html.ActionLink("Create Organization", "Create", "Home/Organization")
        </td>
    </tr>
</table>






