@model TestWeb2.Models.MultiViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Organization</h2>

@if (Model.Admin.Association != null)
{ 
    @Html.ActionLink("Create new Project", "CreateProject", "Organization")

    @Html.ActionLink("Edit Organization Info", "Edit", "Organization")

    @*@Html.ActionLink("Edit Organization", "Edit", new { id=Model.Id })*@
}

@if (Model.Admin.Association == null)
{ 
    <p>Join Organization?</p>
}

@Html.DisplayFor(model => model.Organization.Name)
