@{
    ViewBag.Title = "About";
    ViewBag.Message = "Your app description page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Contact Info</h3>
    <section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Student email:</span>
        <span><a href="mailto:ds308e13@cs.aau.dk">DS308e13@cs.aau.dk</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Aalborg University<br />
        Computer Science Institute<br />
        Selma Lagerlöfs Vej 300<br />
        9220 Aalborg Ø.<br />
    </p>
</section>
</aside>