@model Model.Volunteer

@{
    ViewBag.Title = "My Profile";
}
<h2>Profile</h2>

<p>
    Hello @Html.DisplayFor(modelItem => Model.Name)! 

</p>


<input id="Button1" type="button" value="button" name="Test" onclick="javascript: window.open('/Profile/Edit',
                                       'Customer Search',
                                       'height=' + (window.screen.height - 100) + ',width=200,left=' + (window.screen.width - 250) + ',top=10,status=no,toolbar=no,resizable=yes,scrollbars=yes');" />